<nav class="navbar navbar-dark bg-dark">
  <div align="left">
    <h1>News</h1>
  </div>
  <div align="right" >
  	<ul class="nav">
	  	<li class="nav-item">
		  	<a class="nav-link" href="/home">Home</a>
		  </li>
		  <li class="nav-item">
		  	<a class="nav-link" href="/saved-articles">Saved Articles</a>
		  </li>
	  </ul>
  </div>
</nav>