{{>news/header}}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-9 content-main">
        <br><br>
        <div class="option-buttons">
            <button type="button" class="btn btn-dark btn-lg" id="find-new-articles">Check out some articles</button>
        </div>
    </div>
    <div class="row">
        <div id="saved-articles" class="col-12">
            
        </div>
    </div>
</div>
      
<script src="/assets/javascript/saved.js"></script>